#body {
    width: 100%;
    height: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    text-align: center;
}
#addfield {
    position: relative;
    justify-content: center;
    align-items: center;
    margin: auto;
    display: flex;
    width: max-content;
    min-width: 40em;
    height: 3em;
    text-align: center;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.932);
    border-width: 4px;
    border-radius: 15px;
    background-color: bisque;
}

#fieldset {
    border: none;
}

input {
    border-style: solid;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;

}

#add {
    margin: 1em;
    background-color: rgba(255, 255, 255, 0.68);
    text-align: center;
    cursor: pointer;
    scale: 0,4;
    
}

#add:hover {
   scale: 1,1;
}

#list {
    position: relative;
    margin: auto;
    width: max-content;
    height: 10em;
    width: max-content; 
    display: flex;
    align-content: center;
    justify-content: center;
}

#lister {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 5em;
    width: max-content; 
    min-width: 40em; 
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-radius: 15px;
}

#bought {
    height: 2em;
    width: 2em;
    margin: auto;
    margin-left: 5%;
    margin-right: 5%;
}

#ItemData {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.5em; 
}

.ItemDataFont {
    font-size: 1.25em; 
}

#edit {
    width: max-content;
    margin: auto;
    height: 2em;
    margin-right: 2%;

}

#delete {
    width: max-content;
    margin: auto;
    height: 2em;
    margin-right: 1%;
}