/* Allgemeine Formatierung */
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    max-width: 375px;
    max-height: 667px;
    margin: auto;
    /* Der Body soll von einer Schwarzen Linie umgeben sein, innerhalb dieser Linie soll es eine passende Hintergrund Farbe geben  */
    border: 1px solid black;
    /* Der Body soll sich mittig Zentral abgebildet werden */
    text-align: center;
    top: 50;
   



    

  }
  
  /* Kategorieauswahl */
  #category-select {
    text-align: center;
  }
  
  #category-select button {
    font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  #category-select button:hover {
    background-color: #3e8e41;
  }

  #quiz {
    /* Die Frage #questio-text soll mittig Zentral abgebildet werden und gut lesbar sein */
    text-align: center;
    font-size: 20px;
    padding: 20px;
  }
  
  
  

footer {
  
  bottom: 0;
  width: 100%;
  height: 80px;
  background-color: #f5f5f5;
  text-align: center;
  padding: 0px;
  font-size: 15px;
  color: #777;

}

#category-select button {
  transition: background-color 0.3s ease-in;

  }
  
  #quiz button {
  transition: background-color 0.3s ease-in;
  border: 1px solid #ccc;
  }
  
  #quiz #question-text {
  transition: font-size 0.3s ease-in;
  border: 1px solid #ccc;
  }

  #bar {
    width: 100px;
    height: 0px;
    background-color: #4CAF50;
    margin:auto;
    text-align:center;
    margin-top:20px;
}